.home-title {
    font-size: 3.5rem !important;
    margin-top: 5rem !important;
    letter-spacing: 1rem;
}

.cateogry-title {
    margin-top: 3rem !important;
    font-size: 1.5rem;
}

.cateogry-list{
    margin-top: 3rem;
    gap: 1rem;
}
.cateogry-item{
    border: 1px solid var(--pale-blue);
    width: 150px;
    background-color: var(--jean-blue);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    min-width: 135px;
    min-height: 100px;
    box-shadow: 4px 4px 2px var(--mid-gray);
}
.cateogry-item a{
    color:white;
    text-decoration: none;
    font-size: 1rem;
}
.cateogry-item:hover{
    box-shadow: 0px 0px;
   transition: box-shadow 0.15s linear 0s;
}